@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(231, 230, 230, 0.7);
}

header {
  display: flex;
  justify-content: space-evenly;
  /* padding: 1rem; */
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #fff;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* margin-bottom: 5rem; */
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 10px 30px;
  list-style: none;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #555;
  color: #fff;
  padding: 14px 20px;
  border-radius: 14px;
}

nav a.active {
  color: #d9534f;
  border-bottom: 3px solid #d9534f;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info img {
  width: 70px;
  height: 80px;
  overflow: hidden;
}

.info h1 {
  font-size: 2rem;
}

.info p {
  font-size: 1.2rem;
  color: #333;
}

/* section tabs  */

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 0;
  background: #f1f1f1;
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.1);
}

.tabs .tab {
  padding: 12px 35px;
  font-size: 1.1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: 500;
}

.tabs .tab.active {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tabs .tab:hover:not(.active) {
  background: rgba(255, 255, 255, 0.4);
}

/* workout-planner */
#workout-planner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 25px;
  margin: 10px;
  /* height: 100%; */
}

.BMI-browse {
  display: flex;
  gap: 2rem;
  margin: 10px;
}

.BMI-calculator {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.1);
}

.BMI-calculator h1 {
  color: rgba(226, 63, 3, 0.8);
  text-align: center;
}

.weight-height {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10px;
}

.weight-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#height-range,
#weight-range {
  width: 100%;
}

.scale-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.scale-number span:nth-child(1) {
  font-size: 1.5rem;
}

.scale-number span:nth-child(2) {
  font-size: 2.75rem;
  font-weight: bold;
}

.scale-number span:nth-child(3) {
  font-size: 1.5rem;
  color: green;
}
